body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .space {
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .earth {
    width: 100px;
    height:100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(119, 37%, 27%);
    border-radius: 50%;
  }
  
  .orbit {
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: orbit 5s linear infinite;
  }
  
  .moon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(134, 134, 91);
    border-radius: 50%;
  }
  
  @keyframes orbit {
    0% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
      transform: rotate(360deg) translate(-50%, -50%);
    }
  }
  
  